#demo
    .minibox
        width: 200px
        height: 100px
        transition: 2s
        border: 1px solid #ab1212
        &:hover
            width: 300px

        @media screen and ( min-width: 576px )
            color: #324d9e
            border: 2px solid #aa8319
            width: 100px
