#demo
    .minibox
        width: 200px
        height: 100px
        transition: 2s
        border: 2px solid #ab1212
        h1
            font-size: 70px
        &:hover
            width: 300px
            border: 10px solid #cbc259
            h1
                font-size: 60px
        @media screen and ( max-width: 900px )
            color: #324d9e
            border: 4px solid #aa8319
            width: 100px
            h1
                font-size: 50px
        @media screen and ( max-width: 300px )
            border: 10px solid #070707
            width: 130px
            color: #c80064
            h1
                font-size: 30px
    .btn
        width: 300px
        border: 5px solid #0373eb
        margin: 150px 0 100px
        transition: 1s
        h3
            font-size: 60px
        span
            color: #ffff
            font-size: 1px
        &:hover
            background-color: #1bc595
            span
                font-size: 60px
        @media screen and ( max-width: 500px  )
            background-color: #f30000
            width: 500px
            h3
                color: #2b0bca
                font-size: 30px
